.box-for-images {
  position: relative;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}
.image-nasa {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  border-radius: 12px;
}
.text-image {
  margin-top: 5%;
}
.text-container-about {
  display: flex;               
  flex-direction: column;  
  justify-content: center;    
  align-items: flex-start;   
  text-align: justify;         
  padding: 5%; 
  font-weight: 500;
  font-size: 16px;
  margin-top: 5%;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
