.body-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 20px;
}
.planet-container {
    display: grid;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.5);
}
.planet-inner-box {
    display: grid;
    margin: 0 auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 310px));
    grid-template-columns: 400px auto 400px;
    position: relative;
    justify-content: space-between;
    max-width: 1200px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

}
.image-mars {
    margin-left: 20%;
    justify-content: flex-start;
    width: 250px;
    height: 250px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.image-mars:hover {
    -webkit-transform: rotate(30deg); 
    transform: rotate(30deg);
}
.image-uranus {
    margin-left: 20%;
    justify-content: flex-start;
    width: 250px;
    height: 250px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.image-uranus:hover {
    -webkit-transform: rotate(30deg); 
    transform: rotate(30deg);
}

.image-jupiter {
    margin-left: 20%;
    justify-content: flex-start;
    width: 230px;
    height: 230px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.image-jupiter:hover {
    -webkit-transform: rotate(30deg); 
    transform: rotate(30deg);
}
.text-planet {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;

}
.text-name-planet {
    margin-bottom: 5%;
    width: fit-content;
    text-align: left;
}
.text-uranus {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-left: 35%;
}
.image-mercury {
    margin-left: 20%;
    justify-content: flex-start;
    width: 230px;
    height: 230px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.image-mercury:hover {
    -webkit-transform: rotate(-15deg); 
    transform: rotate(-15deg);
}
.image-venus {
    margin-left: 20%;
    justify-content: flex-start;
    width: 230px;
    height: 230px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.image-venus:hover {
    -webkit-transform: rotate(-15deg); 
    transform: rotate(-15deg);
}
