.body-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;

}
.planet-container {
    display: grid;
    margin: 0 auto;
    width: 100%;
    position: relative;
    justify-content: space-between;
    max-width: 1200px;

}
.content1 {
    grid-row: 3/4;
    grid-column: 2/3;
    margin-right: 15%;
    margin-top: 5%;
}

.row-card {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
}
.planet-card {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.planet-inner-box {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 310px));
    position: relative;
    justify-content: space-between;
    max-width: 1200px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.image-mars {
    justify-content: flex-start;
    width: 270px;
    height: 270px;
}
.image-saturn {
    justify-content: flex-start;
    width: 350px;
    height: 350px;
}
.image-uranus {
    justify-content: flex-start;
    width: 350px;
    height: 350px;
}
.text-planet {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-left: 15%;
}
.text-name-planet {
    margin-bottom: 5%;
    width: fit-content;
    text-align: left;
}
.text-uranus {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-top: 15%;
}