html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    }
#root {
    height: 100%;
    width: 100%;
    }
body {
        background-image: url('./assets/layout5.jpg');
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
}
.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.russo-24 {
    color: white;
    font-family: "Russo One", sans-serif;
    font-size: 24px
}
.russo-36 {
    color: white;
    font-family: "Russo One", sans-serif;
    font-size: 36px
}
.russo-48 {
    color: white;
    font-family: "Russo One", sans-serif;
    font-size: 48px
}
.roboto-18 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
}
.roboto-28 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
}